<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
<div class="container">
<img src="{{ url_for('Video') }}" width="640" height="480">
<div>

<script type=text/javascript>
$(function() {$('a#Forward').on('click', function(e) {e.preventDefault(),$.getJSON('/Forward', function(data) {'//do nothing'});return false;});})
</script>

<a href=# id=Forward><button class="btn btn-default">Forward</button></a>

<script type=text/javascript>
$(function() {$('a#Backward').on('click', function(e) {e.preventDefault(),$.getJSON('/Backward', function(data) {'//do nothing'});return false;});})
</script>

<a href=# id=Backward><button class="btn btn-default">Backward</button></a>

<script type=text/javascript>
$(function() {$('a#Stop').on('click', function(e) {e.preventDefault(),$.getJSON('/Stop', function(data) {'//do nothing'});return false;});})
</script>

<a href=# id=Stop><button class="btn btn-default">Stop</button></a>

<script type=text/javascript>
$(function() {$('a#Left').on('click', function(e) {e.preventDefault(),$.getJSON('/Left', function(data) {'//do nothing'});return false;});})
</script>

<a href=# id=Left><button class="btn btn-default">Left</button></a>

<script type=text/javascript>
$(function() {$('a#Right').on('click', function(e) {e.preventDefault(),$.getJSON('/Right', function(data) {'//do nothing'});return false;});})
</script>

<a href=# id=Right><button class="btn btn-default">Right</button></a>